frontend/node_modules/
frontend/dist/
/frontend/src/views/.editorconfig
/.idea/KeepInventory.iml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/sqldialects.xml
/.idea/.gitignore
build
/frontend/wailsjs/go/backend/
.idea
/csvmaker.py
/csvs/export.csv
/identifier.sqlite
/csvs/inventory.csv
/csvs/komplett.csv
/csvs/Sachnummer.csv
/csvs/Sachnummerwerte.csv
