frontend/node_modules/
frontend/dist/
/frontend/src/views/.editorconfig
/.idea/KeepInventory.iml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/sqldialects.xml
/.idea/.gitignore
/frontend/wailsjs/go/backend/App.d.ts
build
/frontend/wailsjs/go/backend/
.idea
