.ki-facet-wrapper {
    .ki-facet-panel {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-4px);
        transition:
                max-height 0.2s ease-out,
                opacity 0.2s ease-out,
                transform 0.2s ease-out;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        column-gap: 1rem;
    }
}

.ki-facet-wrapper-open {
    .ki-facet-panel {
        max-height: fit-content;
        opacity: 1;
        transform: translateY(0);
    }
}

.ki-filter-header:hover {
    cursor: pointer;
}